<template>
  <div class="q-pa-md">
    <q-input v-model="login" label="Login" />
    <q-input v-model="password" label="Password" type="password" />
    <q-btn @click="handleClick" :disabled="!(login && password)">Sign In</q-btn>
  </div>
</template>

<script>

export default {
  name: 'QuasComponent',
  data: () => ({
    login: '',
    password: '',
  }),
  methods: {
    handleClick: function() {
      console.log(this.login, this.password);
    },
  },
}
</script>
